.products .main-info{padding-right: 100px;margin-bottom: 27px;}
.products .main-info ul{padding-bottom: 25px;}
.products .main-info ul li{width: 45%;border: 1px solid #efefef;float: left;}
.products .main-info ul li:nth-child(2n-1){margin-right: 10%;}
.products .main-info ul li img{ display:block; width:100%}
.products .main-info ul li p a{line-height: 70px;text-align: center;font-size: 18px;color: #6c6c6c;display: block;}
.products .main-info ul li p a:hover{text-decoration: underline;}
.product-details .main-info{padding-right: 50px;}
.product-details .main-info .product-img{width: 50%;padding-bottom: 30px;}
.product-details .main-info p{line-height: 30px;padding-bottom: 30px;font-size: 18px;color: #666;}.main-inner{ width:1200px;}
.sidebar .sidebar-info .sidebar-info-item{ border-bottom:1px solid #999; padding-bottom:10px;}
.g_yu{ margin-top:0}
