<style>
  body {
   margin: 0;
   padding: 0;
  }
  * {
    font-family: 'Raleway', sans-serif;
  }

  .container {
    margin-top: 1em;
    background: #FFFFFF;
  }
  
  .container .img {
    max-width: 100%;
  }

  footer {
    color: rgb(240, 80, 0);
    background: rgb(250, 175, 0);
    margin-top: 1em;
    padding: 1em;
  }


  .bio.name {
    font-size: 24px;
    font-weight: bold;
  } 

  .bio.title {
    font-style: italic;
  }

  #founders.container img {
    width: 128px;
    height: 128px;
    border-radius: 128px;
    border: 1px solid rgb(250, 175, 0);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #management.container img {
    width: 128px;
    height: 128px;
    border-radius: 128px;
    border: 1px solid rgb(250, 175, 0);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #products .col-md-3 {
    padding: 1em;
    text-align: center;
    color: rgb(240, 80, 0);
    font-weight: bold;
    background: rgb(250, 175, 0);
  }

  #products img {
    margin: 0 auto;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    border: 1px solid rgb(250, 175, 0);
    margin-bottom: 1em;
    display: block;
  }

  #contact img {
    border: 1px solid rgb(200, 200, 200);
  }

  .pubmed h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

</style>

