<style>
 body {
  margin: 0;
  padding: 0;
 }
  * {
    font-family: 'Raleway', sans-serif;
  }

  .container {
    margin-top: 1em;
   background: #FFFFFF;
  }
  
  .container .img {
    max-width: 100%;
  }

  footer {
    background: gold;
    color: #483D8B;
    margin-top: 1em;
    padding: 1em;
  }


  .bio.name {
    font-size: 24px;
    font-weight: bold;
  } 

  .bio.title {
    font-style: italic;
  }

  #team.container img {
    width: 64px;
    height: 64px;
    border-radius: 64px;
  }

</style>

