<style>
  html {
    scroll-behavior: smooth;
  }

  body {
   margin: 0;
   padding: 0;
   margin-bottom: 60px;
   background: #FF851B;
  }

  body > .container {
    padding: 60px 15px 0;
  }

  * {
    font-family: 'Raleway', sans-serif;
  }

  main {
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: #FFFFFF;
  }

  .container {
    margin-top: 1em;
    background: #FFFFFF;
  }
  
  .container .img {
    max-width: 100%;
  }

  footer {
    width: 100%;
    padding: 1em;
    color: #001f3f;
    background: #FF851B;
  }

  footer > .container {
    background: transparent;
    padding-right: 15px;
    padding-left: 15px;
  }


  .bio.name {
    font-size: 24px;
    font-weight: bold;
  } 

  .bio.title {
    font-style: italic;
  }

  img.team {
    width: 128px;
    height: 128px;
    border: 1px solid rgba(0,0,0,.125);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #products .col-md-3 {
    padding: 1em;
    text-align: center;
    color: #FFC107;
    font-weight: bold;
    background: #856404;
  }

  #products img {
    margin: 0 auto;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    border: 1px solid rgb(250, 175, 0);
    margin-bottom: 1em;
    display: block;
  }

  #contact img {
    border: 1px solid rgb(200, 200, 200);
  }

  .pubmed h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .bg-dark {
    background-color: #088424!important;
  } 

  .section {
    padding-top: 80px;
   }

  .jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 100px;
    padding: 0;
  }

  .jumbotron h1 {
    background: #FF851B;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    line-height: 200px;
    width: 100%;
  }

  .card {
    margin: 1em;
    width:  100%;
    background: rgba(0,0,0,.125);
    border-radius: 5px;
    font-weight: bold;
  }

</style>

