<h1>
Ginseng Peptide Nutrition
</h1>

<img src="/images/SMPV08.jpg" alt="" style="width: 100%" />
<p>
<i><a href="https://en.wikipedia.org/wiki/Panax_ginseng">Panax ginseng</a></i> 
C. A. Meyer (ginseng) has been the most widely used and acclaimed
herb in Chinese communities for thousands of years.
It has wide range of biological and pharmacological activities and 
contains various active and nutritional ingredients.
</p>
<p>
The main bioactive substances in ginseng are 
<a href="https://en.wikipedia.org/wiki/Polysaccharide">polysaccharides</a>, 
<a href="https://en.wikipedia.org/wiki/Essential_oil">volatile oils</a>,
<a href="https://en.wikipedia.org/wiki/Flavonoid">flavonoids</a>,
<a href="https://en.wikipedia.org/wiki/Peptide">peptides</a>,
<a href="https://en.wikipedia.org/wiki/Amino_acid">amino acids</a>,
<a href="https://en.wikipedia.org/wiki/Vitamin">vitamins</a>, 
<a href="https://en.wikipedia.org/wiki/Organic_acid">organic acids</a>, 
<a href="https://en.wikipedia.org/wiki/Fatty_acid">fatty acids</a>,
and <a href="https://en.wikipedia.org/wiki/Trace_element">trace elements</a>.
</p>
<p>
With the rapid development of biochemistry and molecular biology technology, 
the research of ginseng <a href="https://en.wikipedia.org/wiki/Oligopeptide">oligopeptide</a>,
due to its unique physicochemical properties, gradually attracted the attention of researchers.
</p>

