<h1>
Ginseng Peptide Nutrition
</h1>
<img src="/images/SMPV08.jpg" alt="" style="width: 100%" />
<h2>
Ginseng Peptide
</h2>
<p>
<i><a href="https://en.wikipedia.org/wiki/Panax_ginseng">Panax ginseng</a></i> 
C. A. Meyer (ginseng) has been the most widely used and acclaimed
herb in Chinese communities for thousands of years.
It has wide range of biological and pharmacological activities and 
contains various active and nutritional ingredients.
</p>
<p>
The main bioactive substances in ginseng are 
<a href="https://en.wikipedia.org/wiki/Polysaccharide">polysaccharides</a>, 
<a href="https://en.wikipedia.org/wiki/Essential_oil">volatile oils</a>,
<a href="https://en.wikipedia.org/wiki/Flavonoid">flavonoids</a>,
<a href="https://en.wikipedia.org/wiki/Peptide">peptides</a>,
<a href="https://en.wikipedia.org/wiki/Amino_acid">amino acids</a>,
<a href="https://en.wikipedia.org/wiki/Vitamin">vitamins</a>, 
<a href="https://en.wikipedia.org/wiki/Organic_acid">organic acids</a>, 
<a href="https://en.wikipedia.org/wiki/Fatty_acid">fatty acids</a>,
and <a href="https://en.wikipedia.org/wiki/Trace_element">trace elements</a>.
</p>
<p>
With the rapid development of biochemistry and molecular biology technology, 
the research of ginseng <a href="https://en.wikipedia.org/wiki/Oligopeptide">oligopeptide</a>,
due to its unique physicochemical properties, gradually attracted the attention of researchers.
</p>
<p>
Peptides are polymers formed by the linkage of amino acid, or incomplete break down of proteins.
Peptides can be categorized by bioactivities into physiologically active peptides and peptides with sensory properties; by the origination, endogenous and ectogenous original bioactive; 
or by sources, marine and terrestrial bioactive peptides.
</p>
<p>
According to the well accepted nomenclature, oligopeptides have been termed by moleculars 
composition of fewer than 10 amino acids linking with one another, the the moleculars with more than
10, but fewer than 50 amino acids are termed as polypeptides. Those with more than 50 amino acids
are generally termed as proteins.
</p> 
<p>
The effective ingredients of Ginseng peptides could help us get a deep understanding of the 
pharmaceutical value of ginseng, which are important material basis the new bioactivity. 
As the research getting deeper, ginseng oligopeptide is considered to be a new material for
understanding the physiological function of ginseng.
</p>
<h2>
Peptide Nutrition
</h2>
<p>
Peptide Nutrition studys the effects of peptides in food on human health. It focuses on 
digestion and absorption of food original peptides, their effects on health, and 
preparation of biopeptides.
</p>
<p>
With the development of separation and purification technology, scientists have gradually 
recognized the importance of oligopeptide, due to their higher activity, better absorption 
characteristics than polypeptides.
</p>
