<div class="container">
<h1>What are Peptides?</h1>
{% include research/peptide.html %}
<button type="button" class="btn btn-primary" style="display: block; margin: 1em auto; width: 30em;">
<a href="/research/ginseng-peptide-nutrition" class="nav-link" style="color:#FFFFFF">Ginseng Peptide Nutrition</a>
</button>

<button type="button" class="btn btn-primary" style="display: block; margin: 1em auto; width: 30em;">
<a href="/research/pubmed" class="nav-link" style="color: #FFFFFF">Ginseng Peptide Research Paper</a>
</button>
