<div id="bio-shuwei-zong">
<div class="bio name">Hong Luo</div>
<div class="bio title">Founding Partner</div>
<p>
Ms. Luo has a broad educational background from undergraduate degree in Aerospace Engineering, 
master degree in Sociology, Mass Communication and Social Influence, to an MBA from the 
Wharton School of the University of Pennsylvania.
</p>
<p>
She has worked as an Aerospace Engineer, senior consultant at Bain & Company. She founded 中国文化传媒公司 and produced many TV programs for STAR Xing Kong, MTV, and BBC. 
She is leading the Retirement sector in Shenzhen Neptunus Group Co Ltd.
</p>
<p>
北京航空航天大学飞机发动机本科，南开大学社会学研究生，美国俄亥俄州大学大众传播与社会发展硕士，美国沃顿商学院MBA。 工作经历：三年飞机发动机研究所工程师；中国最早期政府投资机构蛇口企业投资集团董事长秘书；美国贝恩公司高级咨询师；曾经创业中国文化传媒公司并为星空卫视，MTV及BBC等境外电视台制作大量的电视节目，也曾致力建立中国第一条儿童影院剧场院线机构。现在海王集团负责养老板块。
</p>
</div>
