<div id="bio-hong-luo">
<div class="bio name">Hong Luo</div>
<div class="bio title">Founding Partner</div>
<div class="bio email"><a href="mailto:hope@peptide-valley.com">hope@peptide-valley.com</a></div>
<img src="/images/hong.luo.jpg" alt="" />
<p>
Ms. Luo has a broad educational background from undergraduate degree in Aerospace Engineering, 
master degree in Sociology, Mass Communication and Social Influence, to an MBA from the 
Wharton School of the University of Pennsylvania.
</p>
<p>
She has worked as an Aerospace Engineer, senior consultant at Bain & Company. She founded Chinese Culture Media Company and produced many TV programs for STAR Xing Kong, MTV, and BBC. 
She is leading the Retirement sector in Shenzhen Neptunus Group Co Ltd.
</p>
</div>
