<div id="bio-sam-liu">
<div class="bio name">Sam Liu, Ph.D.</div>
<div class="bio title">Chief Marketing Officer</div>
<div class="bio email"><a href="mailto:sam@peptide-valley.com">sam@peptide-valley.com</a></div>
<img src="/images/sam.liu.jpg" alt="" />
<p>
Mr. Liu has a Ph.D. degree in Physics from NYU and had worked as college professor in St. John's University.
An expert in data driven front end development, he had worked as a senior software developer at 
many digital agencies in NYC advertising industry. 
</p>
<p>
</p>
</div>
