<h2 id="shuwei-zong">Shuwei Zong</h2>

<h3>Founding Partner</h3>

Mr. Zong started his career in sales in the fields of Communication, Automobile, Real Estate and has served 
as General Manager, Director and Chairman in many Chinese corporations. 

As a serial entrepreneur, Mr. Zong co-founded Jilin TaiGu (Peptide) Bioengineering Co., Ltd. in 2012. He founded SMPV in 2017 and has served as Chairman
 and General Manager since the company's inception. 

Mr. Zong served as Executive Director of Jilin Charity Federation and has served as the first Director of Jilin Provincial 
Traditional Chinese Medicine Health Industry Association. 
