<div id="bio-shuwei-zong">
<div class="bio name">Shuwei Zong</div>
<div class="bio title">Founding Partner</div>
<div class="bio email"><a href="mailto:tiger@peptide-valley.com">tiger@peptide-valley.com</a></div>
<img src="/images/5458FE6C-AD13-42D3-826E-F14E52CD091D.jpeg" alt="" />
<p>
Mr. Zong started his career in sales in the fields of Communication, Automobile, and Real Estate. He has served as General Manager, Director and Chairman in many Chinese corporations. 
</p>
<p>
A serial entrepreneur, Mr. Zong co-founded Jilin TaiGu (Peptide Valley) Bioengineering Co., Ltd. in 2012. He founded SMPV in 2017 and has been serving as its Chairman and General Manager ever since. 
</p>
<p>
Mr. Zong is the Executive Director of Jilin Charity Federation and the first Director of Jilin Provincial Traditional Chinese Medicine Health Industry Association. 
</p>
</div>
