<div id="bio-shuwei-zong">
<div class="bio name">Shuwei Zong</div>
<div class="bio title">Founding Partner</div>
<p>
Mr. Zong started his career in sales in the fields of Communication, Automobile, Real Estate and has served 
as General Manager, Director and Chairman in many Chinese corporations. 
</p>
<p>
As a serial entrepreneur, Mr. Zong co-founded Jilin TaiGu (Peptide) Bioengineering Co., Ltd. in 2012. He founded SMPV in 2017 and has served as Chairman and General Manager since the company's inception. 
</p>
<p>
Mr. Zong served as Executive Director of Jilin Charity Federation and has served as the first Director of Jilin Provincial 
Traditional Chinese Medicine Health Industry Association. 
</p>
</div>
